table tr th{
    border: grey 1px solid;
    margin: inherit;
    padding: inherit;
}

td{
    border: lavender 1px solid;
}


button{
    width: 3rem;
    height: 3rem;
    background-color : lightblue
}