
.box {
  background-color: #f4f7fa;
  overflow: hidden;
  width: 100%;
  height: 'auto';
  flex-flow: column wrap;
}

.logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
  letter-spacing: 35px;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: center;
}

.welcometext{
  font-family: Arial;
  font-weight: 100;
  font-style: normal;
  margin-left: 3rem;  
}
.landingtext{
  font-family: Arial;
  font-weight: 100;
  font-style: normal;
  margin-left: 15%;  
}
